body{
  background: grey;
  color: white;
  text-align: center;
}

.btn, .btn-info{
min-width: 40px;
margin:  1px;
}

#lives{
  text-align: center;
  padding-top: 1em;
}

#quote{
  padding-top: 1em;
}
  
.quote{
  padding-top: .5em;
}
